<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>

<body>

<header th:insert="blocks/header::header"></header>
    <section style="background-image: url(https://img1.akspic.ru/previews/3/3/5/2/1/112533/112533-liniya-dizajn-monohromnyj-belye-tekstura-x750.jpg);"><br><br>

<div th:insert="blocks/footer::footer"></div>
</main>
</section>
</body>
</html>

