<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>

<body>
    <header th:insert="blocks/header::header"></header>
    <p th:text="'Hello world, ' + ${title} + '!'" />
    <section class="d-flex align-items-center position-relative bg-dark bg-size-cover bg-position-center min-vh-100 overflow-hidden pt-6 pb-lg-5" style="background-image: url(https://img2.akspic.ru/originals/6/4/0/5/6/165046-tekstura-akrilovaya_kraska-vizualnoe_iskusstvo-art-purpur-3840x2160.png);">
        <div class="container-fluid pt-4 pb-5 py-lg-5">
            <div class="row align-items-center py-3">
                <div class="col-xl-6 col-lg-5 d-flex justify-content-end">
                    <div class="pt-2 mx-auto mb-5 mb-lg-0 ms-lg-0 me-xl-7 text-center text-lg-start" style="max-width: 495px;">
                        <h1 class="display-4 text-light pb-2"><span class="fw-light">Магазин </span>Компьютерной техники</h1>
                        <p class="h4 fw-light text-light opacity-70 line-height-base">чтобы посмотреть товары перейдите во вкладку магазин</p><a class="d-inline-flex align-items-center text-decoration-none pt-2 mt-4 mb-5"  href="//www.google.com/logos/2010/pacman10-hp.png" data-scroll=""><span class="btn mb-2 mr-2 btn-outline-dark">Тыкни</span></a>
                        <hr class="hr-light mt-0 mb-5">
                        <div class="row">
                            <div class="col-sm-4 mb-4 mb-sm-0">
                                <div class="h1 text-light mb-1">14+</div>
                                <div class="h5 text-light fw-normal opacity-70 mb-2">товаров</div><span class="badge rounded-pill bg-success"></span>
                            </div>
                            <div class="col-sm-4 mb-4 mb-sm-0">
                                <div class="h1 text-light mb-1">50+</div>
                                <div class="h5 text-light fw-normal opacity-70 mb-1">Отзывов</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">

                </div>
            </div>
        </div>
    </section>
    <!-- FOOTER -->
    <div th:insert="blocks/footer::footer"></div>
</main>
</body>
</html>